.single-book-container {
    margin-left: 36px;
    text-align: center;
    flex-direction: column;
    margin-bottom: 24px;
    width: 150px;
    flex: 1 1 150px;
    max-width: 200px;
    text-align: center;
}

.title {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: bold;
}

.book-cover {
    width: 150px;
    height: 220px; 
       
}

.book-cover img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px; /* optional: rounded corners */
}

.book-cover img:hover {
  transform: scale(1.05); /* slight zoom effect */
  box-shadow: 0 0 20px rgba(56, 38, 4, 0.6); /* glowing orange */
}
