.single-book-container {
    margin-left: 36px;
    text-align: center;
    flex-direction: column;
}

.title {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: bold;
}

.book-cover {
    width: 150px;
    height: 220px;    
}