.shelf-container{
    margin-top: 16px;
    margin-bottom: 32px;    
}

.shelf-container::after {
content:"";
display: block;
height: 1px;
background-color: #ccc;
margin: 20px auto 0;
}

.title-button-container{
    display: flex;
    justify-content: space-between;
    /* padding: 0 16px; */    
}

h1{
    margin-bottom: 36px;
    font-family: 'IBM Plex Sans', serif;
    color: #3c1a6e;
}


.all-books-container{
    display: flex;
    flex-direction: row;    
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

