.shelf-container{
    margin-top: 16px;
    margin-bottom: 32px;
}

.title-button-container{
    display: flex;
    justify-content: space-between;
}

h1{
    margin-bottom: 36px;
    font-family: 'Merriweather', serif;
    color: rgba(75, 75, 75, 1);
}


.all-books-container{
    display: flex;
    flex-direction: row;    
    justify-content: center;
}


