.genre-books-container{
    display: flex;
    flex-wrap: wrap;
    margin: 36px 60px;
    gap: 16px;
    justify-content: center;
}

.genre-page-container{
    text-align: center;
    margin-top: 36px;
}

.genre-books-container > single-book-container{
    flex:1 1 180px;
    max-width: 220px;
    text-align: center;
}

.genretitle{
        color: #3c1a6e;
}